@model ecoplastol_web2.Models.MeldunekViewModel

<h2>Usunąć ???</h2>
<div class="row">
    <div class="col-md-6">
        @Html.ActionLink("USUŃ", "UsunMeldunek", new
                   {
                       id_operator = @Model.Wzm.IdOperator,
                       id_brygadzista = @Model.Wzm.IdBrygadzista,
                       id_maszyna = Model.Wzm.IdMaszyna,
                       id_zmiana = @Model.Wzm.IdZmiana,
                       id_zlecenie = @Model.Wzm.IdZlecenie,
                       data_meldunku = @Model.Wzm.DataMeldunku,
                       id_meldunku = @Model.meldunek.id
                   }, new { @class = "btn btn-danger btn-large btn-block" })
    </div>
    <div class="col-md-6">
        @Html.ActionLink("ANULUJ", "AnulujUsuwanieMeldunku", new
                   {
                   id_operator = @Model.Wzm.IdOperator,
                   id_brygadzista = @Model.Wzm.IdBrygadzista,
                   id_maszyna = Model.Wzm.IdMaszyna,
                   id_zmiana = @Model.Wzm.IdZmiana,
                   id_zlecenie = @Model.Wzm.IdZlecenie,
                   data_meldunku = @Model.Wzm.DataMeldunku,
                   id_meldunku = @Model.meldunek.id
                   }, new { @class = "btn btn-warning btn-large btn-block" })
    </div>
</div>
