@model ecoplastol_web2.Models.MeldunekViewModel


<button class="btn">
    @Html.ActionLink("Create New", "DodajMeldunek", new
    {
        id_operator = @Model.Wzm.IdOperator,
        id_brygadzista = @Model.Wzm.IdBrygadzista,
        id_maszyna = Model.Wzm.IdMaszyna,
        zmiana = @Model.Wzm.IdMaszyna,
        id_zlecenie = @Model.Wzm.IdZlecenie,
        data_meldunku = @Model.Wzm.DataMeldunku
    })
</button>
@Html.ActionLink("Create New", "DodajMeldunek", new
{
    id_operator = @Model.Wzm.IdOperator,
    id_brygadzista = @Model.Wzm.IdBrygadzista,
    id_maszyna = Model.Wzm.IdMaszyna,
    zmiana = @Model.Wzm.IdMaszyna,
    id_zlecenie = @Model.Wzm.IdZlecenie,
    data_meldunku = @Model.Wzm.DataMeldunku

},  new { htmlAttributes = new { @class = "btn btn-default" } })

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Dane operatora</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3"><h3>@Model.Wzm.Operator.NazwaOperatora</h3></div>
            <div class="col-md-3"><h3>@Model.Wzm.Maszyna.nazwa</h3></div>
            <div class="col-md-3"><h3>@Model.Wzm.Zlecenie.NazwaZlecenia</h3></div>
            <div class="col-md-3"><h3>@Model.Wzm.DataMeldunku</h3></div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Lista meldunków</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-1"><h5>Ilość<br />(ocena pozytywna)</h5></div>
            <div class="col-md-1"><h5>Ilość<br />(ocena negatywna)</h5></div>
            <div class="col-md-1"><h5>Ilość<br />(wady technologiczne)</h5></div>
            <div class="col-md-2"><h5>Przegląd codzienny maszyny</h5></div>
            <div class="col-md-2"><h5>Nadzorowane parametry wtryskarki</h5></div>
            <div class="col-md-2"><h5>Wygląd zewnętrzny</h5></div>
            <div class="col-md-2"><h5>Wygląd grzejnika</h5></div>
        </div>
        @if ((Model.ListaMeldunkow != null) && (Model.ListaMeldunkow.Count > 0))
        {
            foreach (var item in Model.ListaMeldunkow)
            {
                <div class="row">
                    <div class="col-md-1"><h4>@item.ilosc</h4></div>
                    <div class="col-md-1"><h4>@item.ilosc_wad_nn</h4></div>
                    <div class="col-md-1"><h4>@item.ilosc_techn</h4></div>
                    <div class="col-md-2"><h4>@item.opis_przeglad_codzienny_maszyny</h4></div>
                    <div class="col-md-2"><h4>@item.opis_wynik_spr_wtr</h4></div>
                    <div class="col-md-2"><h4>@item.opis_wyglad_zew</h4></div>
                    <div class="col-md-2"><h4>@item.opis_wyglad_grzejnika</h4></div>
                </div>
            }
        }
    </div>
</div>




