@model ecoplastol_web2.Models.MeldunekViewModel

<style>
    .wysokosc {
        height: 46px;
    }
</style>

<div>
    @using (Html.BeginForm("NowyMeldunek", "Meldunek"))
    {
        @Html.AntiForgeryToken()

        @Html.TextBoxFor(model => model.Wzm.IdOperator, new { @class = "hidden" })
        @Html.TextBoxFor(model => model.Wzm.IdBrygadzista, new { @class = "hidden" })
        @Html.TextBoxFor(model => model.Wzm.IdMaszyna, new { @class = "hidden" })
        @Html.TextBoxFor(model => model.Wzm.IdZmiana, new { @class = "hidden" })
        @Html.TextBoxFor(model => model.Wzm.IdZlecenie, new { @class = "hidden" })
        @Html.TextBoxFor(model => model.Wzm.DataMeldunku, "{0:dd.MM.yyyy}", new { @class = "form-control date-picker hidden" })
        <div class="form-group">
                <input type="submit" value="Utwórz meldunek" class="btn btn-info" />
        </div>
    }
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Dane operatora</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3"><h3>@Model.Wzm.Operator.NazwaOperatora</h3></div>
            <div class="col-md-3"><h3>@Model.Wzm.Maszyna.nazwa</h3></div>
            <div class="col-md-3"><h3>@Model.Wzm.Zlecenie.NazwaZlecenia</h3></div>
            <div class="col-md-3"><h3>@Model.Wzm.DataMeldunku.ToString("dd.MM.yyyy")</h3></div>
        </div>
    </div>
</div>
@{
    int i = 1;
    foreach (var item in Model.ListaMeldunkow)
    {
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <h3 class="panel-title">Meldunek @i</h3>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-1">
                        <div class="wysokosc">
                            <h5>@Html.DisplayNameFor(model => model.ilosc)</h5>
                        </div>
                        <div>
                            <h4>@Html.DisplayFor(m => item.ilosc)</h4>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="wysokosc">
                            <h5>@Html.DisplayNameFor(m => item.ilosc_wad_nn)</h5>
                        </div>
                        <div>
                            <h4>@Html.DisplayFor(m => item.ilosc_wad_nn)</h4>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="wysokosc">
                            <h5>@Html.DisplayNameFor(model => model.ilosc_techn)</h5>
                        </div>
                        <div>
                            <h4>@Html.DisplayFor(m => item.ilosc_techn)</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="wysokosc">
                            <h5>Przegląd codzienny maszyny</h5>
                        </div>
                        <div>
                            <h4>@Html.DisplayFor(m => item.opis_przeglad_codzienny_maszyny)</h4>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="wysokosc">
                            <h5>Nadzorowane parametry wtryskarki</h5>
                        </div>
                        <div>
                            <h4>@Html.DisplayFor(m => item.opis_wynik_spr_wtr)</h4>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="wysokosc">
                            <h5>Wygląd zewnętrzny</h5>
                        </div>
                        <div>
                            <h4>@Html.DisplayFor(m => item.opis_wyglad_zew)</h4>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="wysokosc">
                            <h5>Wygląd grzejnika</h5>
                        </div>
                        <div>
                            <h4>@Html.DisplayFor(m => item.opis_wyglad_grzejnika)</h4>
                        </div>
                    </div>
                </div>
                @if (!item.zatwierdzony)
                {
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            @Html.ActionLink("Popraw", "PoprawMeldunek", new
                            {
                            id_operator = @Model.Wzm.IdOperator,
                            id_brygadzista = @Model.Wzm.IdBrygadzista,
                            id_maszyna = Model.Wzm.IdMaszyna,
                            zmiana = @Model.Wzm.IdZmiana,
                            id_zlecenie = @Model.Wzm.IdZlecenie,
                            data_meldunku = @Model.Wzm.DataMeldunku,
                            id_meldunku = @item.id
                            })
                        </div>
                    </div>
                }
            </div>
        </div>
        i++;
    }
}
