@model ecoplastol_web2.Models.MeldunekViewModel

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    @*https://stackoverflow.com/questions/12053022/mvc-datetime-validation-uk-date-format/*@

    <script type="text/javascript">
        $(function () {
            // This will make every element with the class "date-picker" into a DatePicker element
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd.mm.yy',
                    locale: 'pl',
                    changeMonth: true,
                    changeYear: true
                });
        })
        jQuery(function ($) {
            $.validator.addMethod('date',
                function (value, element) {
                    if (this.optional(element)) {
                        return true;
                    }

                    var ok = true;
                    try {
                        $.datepicker.parseDate('dd.mm.yy', value);
                    }
                    catch (err) {
                        ok = false;
                    }
                    return ok;
                });
        });

        function iloscWnn(indeks, kierunek) {
            var x = document.getElementById("wnn" + indeks);
            switch (kierunek) {
                case 0: // down
                    var y = parseInt(x.value);
                    y = y - 1;
                    if (y < 0) { y = 0; }
                    x.value = y;
                    break;
                case 1: // up
                    var y = parseInt(x.value);
                    y = y + 1;
                    x.value = y;
                    break;
                default:
            }
        }
    </script>
}

@using (Html.BeginForm("DodajMeldunek", "Meldunek"))
{
    @Html.AntiForgeryToken()
    @Html.TextBoxFor(model => model.akcja, new { @class = "hidden" })
    @Html.TextBoxFor(model => model.Wzm.IdOperator, new { @class = "hidden" })
    @Html.TextBoxFor(model => model.Wzm.IdBrygadzista, new { @class = "hidden" })
    @Html.TextBoxFor(model => model.Wzm.IdMaszyna, new { @class = "hidden" })
    @Html.TextBoxFor(model => model.Wzm.IdZmiana, new { @class = "hidden" })
    @Html.TextBoxFor(model => model.Wzm.IdZlecenie, new { @class = "hidden" })
    @Html.TextBoxFor(model => model.Wzm.DataMeldunku, "{0:yyyy-MM-dd}", new { @class = "form-control hidden", type = "date" })

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Dane operatora</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3"><h3>@Model.Wzm.Operator.NazwaOperatora</h3></div>
                    <div class="col-md-3"><h3>@Model.Wzm.Maszyna.nazwa</h3></div>
                    <div class="col-md-3"><h3>@Model.Wzm.Zlecenie.NazwaZlecenia</h3></div>
                    <div class="col-md-3"><h3>@Model.Wzm.DataMeldunku.ToString("dd.MM.yyyy")</h3></div>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Nowy meldunek</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row form-group">
                            <div class="col-md-6"><h5>Ilość (ocena pozytywna)</h5></div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.ilosc, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6"><h5>Ilość (wady technlogiczne)</h5></div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.ilosc_techn, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6"><h5>Przegląd codzienny maszyny</h5></div>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.przeglad_codz_masz,
                                                    new SelectList(Model.ListaPrzegladMaszyny, "id", "wynik"),
                                                    /*new { htmlAttributes = new { @class = "form-control" } })*/
                                                    new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6"><h5>Nadzorowane parametry wtryskarki</h5></div>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.wynik_spr_wtr,
                                                    new SelectList(Model.ListaWynikSprawdzenia, "id", "wynik"),
                                                    /*new { htmlAttributes = new { @class = "form-control" } })*/
                                                    new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6"><h5>Wygląd zewnętrzny</h5></div>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.wyglad_zew,
                                                    new SelectList(Model.ListaWygladZewnetrzny, "id", "wynik"),
                                                    /*new { htmlAttributes = new { @class = "form-control" } })*/
                                                    new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6"><h5>Wygląd grzejnika</h5></div>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.wyglad_grzejnika,
                                                     new SelectList(Model.ListaWygladGrzejnika, "id", "wynik"),
                                                     /*new { htmlAttributes = new { @class = "form-control" } })*/
                                                     new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ilość (ocena negatywna)</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row form-group">
                            <div class="col-md-6">Brak wpływki</div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-default btn-block" aria-label="wnn1 Down" onclick="iloscWnn(1, 0)">
                                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-sm-2">@Html.TextBoxFor(model => model.wnn1, new { @class = "form-control" })</div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-default btn-block" aria-label="wnn1 Up" onclick="iloscWnn(1, 1)">
                                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6">Wciąg</div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-default btn-block" aria-label="wnn2 Down" onclick="iloscWnn(2, 0)">
                                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-xs-2">@Html.TextBoxFor(model => model.wnn2, new { @class = "form-control" })</div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-default btn-block" aria-label="wnn2 Up" onclick="iloscWnn(2, 1)">
                                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6">Wada grzejnika</div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-default btn-block" aria-label="wnn3 Down" onclick="iloscWnn(3, 0)">
                                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-xs-2">@Html.TextBoxFor(model => model.wnn3, new { @class = "form-control" })</div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-default btn-block" aria-label="wnn3 Up" onclick="iloscWnn(3, 1)">
                                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6">Brak przejścia</div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-default btn-block" aria-label="wnn4 Down" onclick="iloscWnn(4, 0)">
                                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-xs-2">@Html.TextBoxFor(model => model.wnn4, new { @class = "form-control" })</div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-default btn-block" aria-label="wnn4 Up" onclick="iloscWnn(4, 1)">
                                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6">Wtrącenie</div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-default btn-block" aria-label="wnn5 Down" onclick="iloscWnn(5, 0)">
                                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-xs-2">@Html.TextBoxFor(model => model.wnn5, new { @class = "form-control" })</div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-default btn-block" aria-label="wnn5 Up" onclick="iloscWnn(5, 1)">
                                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6">Uszkodzony kominek</div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-default btn-block" aria-label="wnn6 Down" onclick="iloscWnn(6, 0)">
                                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-xs-2">@Html.TextBoxFor(model => model.wnn6, new { @class = "form-control" })</div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-default btn-block" aria-label="wnn6 Up" onclick="iloscWnn(6, 1)">
                                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6">Wadliwa forma</div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-default btn-block" aria-label="wnn7 Down" onclick="iloscWnn(7, 0)">
                                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-xs-2">@Html.TextBoxFor(model => model.wnn7, new { @class = "form-control" })</div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-default btn-block" aria-label="wnn7 Up" onclick="iloscWnn(7, 1)">
                                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6">Wada wizualna</div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-default btn-block" aria-label="wnn8 Down" onclick="iloscWnn(8, 0)">
                                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-xs-2">@Html.TextBoxFor(model => model.wnn8, new { @class = "form-control" })</div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-default btn-block" aria-label="wnn8 Up" onclick="iloscWnn(8, 1)">
                                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-6">Brak bolca</div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-default btn-block" aria-label="wnn9 Down" onclick="iloscWnn(9, 0)">
                                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-xs-2">@Html.TextBoxFor(model => model.wnn9, new { @class = "form-control" })</div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-default btn-block" aria-label="wnn9 Up" onclick="iloscWnn(9, 1)">
                                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            @{
                switch (Model.akcja)
                {
                    case "D":
                        <input type="submit" value="Dodaj" class="btn btn-success btn-lg btn-block" />
                        break;
                    case "P":
                        <input type="submit" value="Popraw" class="btn btn-success btn-lg btn-block" />
                        break;

                    default:
                        break;
                }
            }

        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ListaMeldunkow")
</div>
