@model ecoplastol_web2.Models.WyborZleceniaModel

@{
    ViewBag.Title = "Index";
}
@section Scripts {
    @Scripts.Render("~/bundles/eco")
}
@Model.DataMeldunku
@Html.DisplayFor(model => model.DataMeldunku)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Dane operatora</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <div>
                            @Html.DisplayNameFor(model => model.IdOperator)
                        </div>
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Operator.NazwaOperatora)
                            @Html.DropDownListFor(model => model.IdOperator,
                                        new SelectList(Model.ListaOperatorow, "id", "NazwaOperatora"),
                                        new { @class = "hidden" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            @Html.DisplayNameFor(model => model.IdBrygadzista)
                        </div>
                        <div>
                            @Html.DropDownListFor(model => model.IdBrygadzista,
                                       new SelectList(Model.ListaBrygadzistow, "id", "NazwaBrygadzisty"),
                                       /*new { htmlAttributes = new { @class = "form-control" } })*/
                                       new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div>
                            @Html.DisplayNameFor(model => model.IdZmiana)
                        </div>
                        <div>
                            @Html.DropDownListFor(model => model.IdZmiana,
                                                  new SelectList(Model.ListaZmian, "id", "nazwa"),
                                                  new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div>
                            @Html.DisplayNameFor(model => model.IdMaszyna)
                        </div>
                        <div>
                            @Html.DropDownListFor(model => model.IdMaszyna,
                                                  new SelectList(Model.ListaMaszyn, "id", "nazwa"),
                                                 new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div>
                            @Html.DisplayNameFor(model => model.DataMeldunku)
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.DataMeldunku, "{0:yyyy-MM-dd}", new { @class = "datefield form-control", type = "date" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <input type="submit" name="submitButton" value="Wyszukaj zlecenia" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>


        @if ((Model.ListaZlecen != null) && (Model.ListaZlecen.Count > 0))
        {
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Lista zleceń na dzień @Html.DisplayFor(model => model.DataMeldunku)</h3>
                </div>
                <div class="panel-body">
                    <div class="row, form-group">
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.IdZlecenie,
                         new SelectList(Model.ListaZlecen, "id", "NazwaZlecenia"),
                         new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <input type="submit" name="submitButton" value="Pokaż meldunki" class="btn btn-primary" />
                            <input type="submit" name="submitButton" value="Utwórz meldunek" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Brak zleceń</h3>
                </div>
                <div class="panel-body">
                </div>
            </div>
        }

    </div>

}

